@import './light-theme.css';
@import './dark-theme.css';
@import url('https://api.fonts.coollabs.io/css2?family=Koulen');
@import url('https://api.fonts.coollabs.io/css2?family=Source+Sans+3:wght@700;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Overwriting Custom Component Styles */
sl-input, sl-button { /* colors are applied via css-vars in the themes files (using tailwind colors for primary and neutral) */
    all: revert; /*!important*/ /* purge tailwind classes for all sl components */
}

.sl-toast-stack {
    left: 0;
    right: auto;
}

#url {
    @apply w-full
}

sl-input::part(base){
    @apply font-sourceSansPro
}

sl-alert::part(base) {
    @apply z-40 absolute bottom-0 right-0 mr-4 mb-4; /* Positioning */
}

/* Input */
sl-button::part(base) {
    @apply cursor-pointer bg-primary-blue text-white rounded-md font-sourceSansPro font-bold; /* add tailwind classes */
}

.loader {
    border: 16px solid #0d3269;
    border-radius: 50%;
    border-top: 16px solid white;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
