---
import AsyncIframe from '@components/AsyncIframe.astro';
---

<h2>Website</h2>

<a href="https://www.figma.com/design/qSLmDyHzShcVtcdRChP9fK/Propromo-Design?node-id=0-1&t=7WntnAIrOac2qAGx-1" target="_blank" rel="noopener noreferrer">Open in Figma</a>

<AsyncIframe>
    <iframe
      src="https://www.figma.com/embed?embed_host=share&url=https://www.figma.com/file/qSLmDyHzShcVtcdRChP9fK/Propromo-Design?node-id=0-1&t=7WntnAIrOac2qAGx-1"
      allowfullscreen
      style="border:none; width:100%; height:100%">
    </iframe>
</AsyncIframe>

<h2>Mobile</h2>

<h3>IOS</h3>

<a href="https://www.figma.com/design/YgzDa3oP7vMwPp9wJ8sV6C/Propromo.ios?node-id=402-25305&t=e9bEacYSRj05KtI7-1" target="_blank" rel="noopener noreferrer">Open in Figma</a>

<AsyncIframe>
  <iframe
    src="https://www.figma.com/embed?embed_host=share&url=https://www.figma.com/file/YgzDa3oP7vMwPp9wJ8sV6C/Propromo.ios?node-id=402-25305&t=e9bEacYSRj05KtI7-1"
    allowfullscreen
    style="border:none; width:100%; height:100%">
  </iframe>
</AsyncIframe>
