.env
.git
.github
.idea
.vscode

.editorconfig
.dockerignore
.gitattributes
.gitignore

default.nginx.cfg
nginx.cfg

.env**
!.env.docker.example
Dockerfile
Procfile

_ide_helper.php
.phpstorm.meta.php

node_modules
vendor
composer.lock

docker
!docker/entrypoint.sh
docs

start.cmd
start.sh
